@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Varela+Round', sans-serif;
}

h1{
    font-size:2.5rem;
    font-weight:700;
}

h2{
    font-size:1.8rem;
    font-weight:600;
}




h3{
    font-size:1.5rem;
    font-weight:800;
}

h4{
    font-size:1.2rem;
    font-weight:600;
}

h5{
    font-size:1.0rem;
    font-weight:400;
    color:rgb(146, 149, 202);
}

h6{
    color:rgb(146, 149, 202);;
}

button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border-color: #ffffff;
    background-color: rgb(255, 240, 240);
    color:rgb(119, 123, 188);
    padding: 5px 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover{
    background-color:rgb(255, 255, 255);
}

.navbar{
    font-size: 16px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    top: 0;
    left:0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding:0 20px;
    color:black;
    transition:0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar i:hover, .navbar-light .navbar-nav .nav-link.active, .navbar i:hover{
    color:rgb(146, 149, 202);
}

.navbar i {
    font-size: 1.3rem;
    padding: 0 2.5px;
    cursor: pointer;
}

@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fa-solid{
        margin: 15px 5px 10px 20px;
    }
}

#home {
    background-image: url('../imgs/home.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#home span{
    color:rgb(146, 149, 202);
}

#collections{
    margin-top: 50px;
    margin-bottom: 50px;
}

#new .one img{
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one{
    position: relative;
    text-align: center;
    margin-bottom: 150px;
}

#new .one .details{
    position: absolute;
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;
}

#new .one:hover img{
    opacity: 0.7;
}

.split{
    background-color: rgb(248, 249, 250);
    overflow-x: hidden; 
}

/* Products */

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .add-to-cart{
    transform: translateY(50px);
    opacity:0;
    transition:0.3s all;
}

.product:hover .add-to-cart{
    transform: translateY(0px);
    opacity:1;
}

.star{
    padding: 10px 0;

}

.star i{
    font-size: 0.9rem;
    color: rgb(248, 212, 122);
}

/* Banner */

#banner{
    background-image: url('../imgs/banner.jpg');
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#banner span{
    color:rgb(146, 149, 202);
}

/* Footer */

footer{
    background-color: rgb(248, 249, 250);
}

footer h5{
    color:black;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size:0.8rem;
    color:rgb(146, 149, 202);
    text-decoration: none;
}

footer li a:hover{
    color: rgb(195, 197, 225);
}

footer ul{
    list-style-type: none;
}

footer .copyright a{
    color:black;
    height:40px;
    width:40px;
    background-color: white;
    display: inline-block;
    border-radius:50%;
    text-align: center;
    line-height: 38px;
    transition:0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color:rgb(146, 149, 202);
    background-color:white;
}

footer p{
    color: rgb(180, 182, 204);
}

footer h6{
    color:rgb(97, 97, 116);
}

footer .copyright img{
    width: 60%;
}

.logo{
    width:40px;
    height:40px;
}

.navbar .brand-name{
    color: rgb(127, 193, 218);
    margin-right: 5px;
    text-shadow: 2px 2px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

/* shop.html */

#featured2{
    margin-top: 75px;
}

/* single product */

.sm-img-grp{
    display: flex;
    justify-content: space-between;
}

.sm-img-col{
    flex-basis: 25%;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product input:focus{
    outline:none;
}

.single-product .add-to-cart{
    opacity: 1;
    transition: 0.4s all;
}